= form_tag switch_customer_works_path, :method => :post, :remote => true do
  = select_tag(:customer_id, options_for_select(@customers.map {|c| [c.name, c.id]}, params[:customer_id].to_i), {:onchange => "this.form.customerSubmit.click();"})
  %input.hide_nojs{:type=>"submit", :value=>"submit", :name=>"customerSubmit"}