= form_tag works_path, :method => :get, :remote => true, :id => "projects", :name => "projects" do
  = select_tag(:project_id, options_for_select(@projects.map {|p| [p.title, p.id]}, params[:project_id].to_i), {:onchange => "$('input#work_project_id').val(this.value);"})