#calendar
  = render :partial => "calendar"
#formWrapper
  = render :partial => "form"
%ul.toolbar
  %li.time Time
  %li.duration Duration
  %li.project Project
  %li.customer Customer
  %li.description Description
#works
  = render :partial => "worklist"