@redDark: #6A1503;
@redLight: #BF2400;
@greyDark: #BFBFBF;
@greyLight: #EFEFEF;

@import "_basic";
body {
	background-color: @greyDark;
	font-family: 'Cuprum', verdana, arial;
	letter-spacing: 0.8px;
}