@import "_basic";

body {
	background-color: white;
	font-family: 'Cuprum', verdana, arial;
	letter-spacing: 0.8px;
}

div#navigation {
	height: 50px;
	background-color: @blueDark;
	margin-bottom: 20px;
	ul {
		padding-top: 10px;
		li {
			.grid(15,0,1);
			.roundedTop;
			line-height: 40px;
			font-size: 16px;
			text-align: center;
			background-color: @blueLight;
		}
	}
}

// ALLGEMEINE CONTENT ELEMENTE //
div#content {
	div.wizard {
		.rounded;
		margin-bottom: 20px;
		padding: 10px;
		background-color: @blueMedium;
		color: @blueDark;
	}
	form {
		.rounded;
		background-color: @blueLight;
		padding: 10px;
	}

	div.toolbar {
		.rounded();
		background-color: @blueLight;
		color: blueMedium;
		padding: 0px 10px;
		margin-bottom: 5px;
		height: 30px;
		li { line-height: 30px; }
	}
	
	ul.title, div.content {
		background-color: @blueLight;
		padding: 10px;
	}
	ul.title#active {
		background-color: @blueMedium;
		.roundedTop;
		.roundedBottom(0px);
		font-weight: bold;
	}
	ul.title { .rounded; }
}


// SPEZIELLE FORMULAR ELEMENTE //
div#projectForm {
	fieldset.project {
		.grid(60,0,2);
		dl dt { text-align: left; }
		dl dt.title {	.grid(8);	}
		dl dd.title {	.grid(52);	}
		dl dd.title input { width: 520px; }
	
		dl dt.description {	.grid(10,0,50);	}
		dl dd.description {	.grid(60);	}
		dl dd.description textarea {
			height: 60px;
			width: 600px;
		}
	
		dl dt.small, dl dd.small {	.grid(10);	}
		dl dd.small input { width: 80px; }
	}
	fieldset.customer {
		.grid(30)
		dl { margin-top: 15px; }
		dl dt {	.grid(10,0,2); }
		dl dd {
			.grid(18); 
			margin-bottom: 20px;}
		dl dd select { width: 180px; }
	}
}
div#customerForm {
	dl {
		background-color: @blueLight;
		dt {
			.grid(10);
			text-align: right;
		}
		dd {
			.grid(20);
			input { width: 150px; }
			input.zip { width: 40px; }
			input.city { width: 90px; }
		}
	}
}



div.filter {
	margin-left: 20px;
	li {
		.grid(13,0,1);
		.roundedTop;
		background-color: @blueLight;
		line-height: 30px;
		text-align: center;
	}
}