@blueLight: #C8D9F4;
@blueMedium: #94B4E6;
@blueDark: #112363;
@grey: #CCCCCC;

@import "_basic";
body {
	background-color: white;
	font-family: 'Cuprum', verdana, arial;
	letter-spacing: 0.8px;
}
form {
	display: none;
}


div.toolbar {
	.rounded();
	background-color: @blueLight;
	color: blueMedium;
	height: 30px;
	padding: 0px 10px;
	margin-bottom: 5px;
	li {
		line-height: 30px;
		.grid(20);
	}
}


div.customer {
	color: @blueDark;
	margin-bottom: 5px;
	
	ul.titleInactive, ul.titleActive, div.contacts, div.locations { padding: 10px; }
	ul.titleInactive {
		background-color: @blueLight;
		.rounded;
	}
	ul.titleActive {
		background-color: @blueMedium;
		.roundedTop;
		font-weight: bold;
	}
	ul.titleInactive li, ul.titleActive li {
		line-height: 30px;
		.grid(20);
	}
	ul.titleInactive li.actions, ul.titleActive li.actions {
		.grid(10,24);
		text-align: right;
	}
	hr {
		width: 100%;
		visibility: visible;
	}
	
	
	div.nestedRessources {
		.roundedBottom;
		background-color: @blueLight;
		padding: 20px 0px;

		div.location {
			.roundedTop;
			border-top: 5px solid @grey;
			padding: 10px;
			
			.details { ul li { .grid(18); } }
			form {
				dl {
					dt {
						.grid(10);
						text-align: right;
					}
					dd {
						.grid(20);
						input { width: 150px; }
						input.zip { width: 40px; }
						input.city { width: 90px; }
					}
				}
			}
		}
		div.contacts {
			.roundedTop;
			border-top: 5px solid @grey;
			ul.toolbar {
				
			}
			ul {
				li { .grid(28); }
				li.name, li.fon {
					.grid(30);
					span { display: block; }
				}
				li.actions { .grid(6);	}
			}
			
			
			form dl {
				dt {
					.grid(10);
					text-align: right;
				}
				dd {
					.grid(20);
					input { width: 150px; }
					input.zip { width: 40px; }
					input.city { width: 90px; }
				}
			}
		}
		
		
		div.details h2, div.details span.actions, form legend {
			font-weight: bold;
			font-size: 11px;
		}
		div.details h2, form legend { .grid(84) }
		div.details span.actions, form a {
			.grid(10);
			text-align: right;
		}
		div.pagination {
			display: inline;
			* { display: none; }
			span.previous_page, a.previous_page, span.next_page, a.next_page { display: inline; }
		}
	}
}




div.wizard {
	.rounded;
	margin-bottom: 20px;
	padding: 10px;
	background-color: @blueMedium;
	color: @blueDark;
	dl {
		background-color: @blueLight;
		dt {
			.grid(10);
			text-align: right;
		}
		dd {
			.grid(20);
			input { width: 150px; }
			input.zip { width: 40px; }
			input.city { width: 90px; }
		}
	}
	form {
		.rounded;
		background-color: @blueLight;
		padding: 10px;
	}
}
div#projectForm {
	fieldset.project {
		.grid(60,0,2);
		dl dt { text-align: left; }
		dl dt.title {	.grid(8);	}
		dl dd.title {	.grid(52);	}
		dl dd.title input { width: 520px; }
	
		dl dt.description {	.grid(10,0,50);	}
		dl dd.description {	.grid(60);	}
		dl dd.description textarea {
			height: 60px;
			width: 600px;
		}
	
		dl dt.small, dl dd.small {	.grid(10);	}
		dl dd.small input { width: 80px; }
	}
	fieldset.customer {
		.grid(30)
		dl { margin-top: 15px; }
		dl dt {	.grid(10,0,2); }
		dl dd {
			.grid(18); 
			margin-bottom: 20px;}
		dl dd select { width: 180px; }
	}
}


div.filter {
	margin-left: 20px;
	li {
		.grid(13,0,1);
		.roundedTop;
		background-color: @blueLight;
		line-height: 30px;
		text-align: center;
	}
}

div.project {
	color: @blueDark;
	margin-bottom: 5px;
	
	ul.title, div.content {
		background-color: @blueLight;
		padding: 10px;
	}
	ul.title#active {
		background-color: @blueMedium;
		.roundedTop;
		.roundedBottom(0px);
		font-weight: bold;
	}
	ul.title { .rounded; }
	div.content {
		.roundedBottom;
		div.main {
			dl dt { font-weight: bold; }
			dl dt, dl dd { .grid(8); }
			dl dt.description, dl dd.description { .grid(80, 0, 14); margin-bottom: 10px; }
		}
		div.contacts {
			margin-top: 20px;
			
			ul.toolbar, ul.record {
				li.name { .grid(30) }
				li.fon { .grid(24) }
				li.location { .grid(32) }
				li.actions { .grid(8) }
			}
		}
	}
	

	ul.toolbar li, ul.title li { .grid(32,0,0,1,1); }
	ul.toolbar li.nr, ul.title li.nr { .grid(6); }
	ul.toolbar li.date, ul.title li.date { .grid(11); }
	ul.title li.actions {
		.grid(8);
		text-align: right;
	}
}
	
	
	
div.project {
	// GLOBALS
	div.content {
		hr {
			width: 100%;
			visibility: visible;
		}
		h2, span.actions, form legend { font-weight: bold; }
		h2, form legend { .grid(84) }
		span.actions, form a {
			.grid(10);
			text-align: right;
		}
		
		ul.toolbar {
			border-bottom: 2px dotted grey;
			li { color: grey; }
		}
	}
}