@import "_basic";

div#userForm form {
	.grid(88,0,0,1,1);
	.rounded;
	background-color: @blueLight;
	form { background-color: transparent ;}
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 20px;
	
	h2 { color: @orange; margin-bottom: 10px;}
	label { margin-bottom: 5px; }
	dl {
		background-color: @blueLight;
		dt {
			.grid(12,0,1);
			text-align: left;
			margin-bottom: 10px;
		}
		dd {
			margin-bottom: 10px;
			.grid(12,0,3);
			input { width: 115px; }
			input.small { width: 50px; }
		}
	}
}
div#users {
	div.toolbar ul li, div.user ul li { .grid(21) }
	div.user {
		margin-bottom: 3px;
		ul li.actions { .grid(4,21) }
	}
}



div#holidayForm form {
	.grid(88,0,0,1,1);
	.rounded;
	background-color: @blueLight;
	form { background-color: transparent ;}
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 20px;
	
	h2 { color: @orange; margin-bottom: 10px;}
	label { margin-bottom: 5px; }
	dl {
		background-color: @blueLight;
		dt {
			.grid(13,0,1);
			text-align: left;
			margin-bottom: 10px;
		}
		dt.small { .grid(8,0,1); text-align: right; }
		dd.small { .grid(8,0,1); input { width: 70px; } }
		dd {
			margin-bottom: 10px;
			.grid(13,0,3);
			input { width: 115px; }
			input.small { width: 50px; }
			input.radio { width: 12px; }
		}
	}
}


div#sequences {
	div.holidays ul.title li, div.toolbar li, div.user ul.title li { .grid(21); }
	div.user ul.title li.actions, div.holidays ul.title li.actions {
		.grid(4);
		text-align: right;
	}
	div.holidays ul.title li.actions { .grid(4,42); }
	
	div.user, div.holidays {
		margin-bottom: 3px;
		div.record {
			background-color: @blueLight;
			.roundedBottom;
			padding: 10px;
			dd {
				.grid(24,0,1);
				padding: 10px 0px;
			}
			dt { font-weight: bold; }
		}
	}
}