/*
 *  Part of Tipped - The Javascript Tooltip Framework
 *  http://projects.nickstakenburg.com/tipped
 *
 *  IMPORTANT:
 *  When modifying or adding your own skins it's recommended to do 
 *  this in a seperate file, overwriting or building on top of the 
 *  styling defined in tipped-skins.css to make updating easier.
 *
 *  Documentation:
 *  http://projects.nickstakenburg.com/tipped/documentation/#css
 *
**/

@import url('tipped-skins.css');

.t_Tooltip {
  margin: 0;
  padding: 0;
  position: absolute;
  overflow: hidden;
  background-color: transparent;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.t_Tooltip.t_hidden { opacity: 0; }
.t_Tooltip.t_visible { opacity: 1; }

.t_Skin {
  position: absolute;
  top: 0;
  left: 0;
}
.t_Skin * { zoom: 1; } /* IE7 */

.t_Bubble {
  position: relative;
}

.t_Background,
.t_Stem { position: absolute; }

.t_Close {
  position: absolute;
  cursor: pointer;
  top: 0;
}

.t_CloseButtonShift {
  position: relative;
  overflow: hidden;
  float: left;
}
.t_CloseState {
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0;
}

.t_Content {
  position: absolute;
  top: 0;
  left: 0;
}

/*
 * Shadow
 */
.t_Shadow {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

.t_Shadow .t_ShadowInnerWrapper{
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
}

.t_ShadowBubble {
  position: relative;
  padding: 0;
  margin: 0;
  float: left;
}
.t_ShadowBackground,
.t_ShadowStem { position: absolute; }
.t_ShadowBackground *, .t_ShadowStem * { float: left; }

 
.t_CloseButtonShadow {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}


.t_UpdateQueue {
  position: absolute;
  top: -15000px;
  left: -15000px;
  background: #efefef;
  width: 5000px;
  height: 5000px;
  visibility: hidden;
}
.t_UpdateQueue .t_Tooltip,
.t_UpdateQueue .t_Content {
  position: relative;
  overflow: visible;
  float: left;
  top: auto;
  left: auto;
  width: 100%;
}
.t_Tooltip .t_ContentContainer {
  float: left;
  clear: both;
  position: relative;  
}
.t_UpdateQueue .t_ContentContainer {
  position: absolute;
  top: 0;
  left: 0;
}