/*
 *  Part of Tipped - The Javascript Tooltip Framework
 *  http://projects.nickstakenburg.com/tipped
 *
 *  IMPORTANT:
 *  When modifying or adding your own skins it's recommended to do 
 *  this in a seperate file, overwriting or building on top of the 
 *  styling defined in tipped-skins.css to make updating easier.
 *
 *  Documentation:
 *  http://projects.nickstakenburg.com/tipped/documentation/#css
 *
**/

/* Font styling for all skins in skins.js */
.t_Content_black,
.t_Content_blackonblack,
.t_Content_cloud,
.t_Content_dark,
.t_Content_lavender,
.t_Content_light,
.t_Content_liquid,
.t_Content_limegreen,
.t_Content_royalblue,
.t_Content_salmon,
.t_Content_yellow {
  color: #333;
  font-size: 10px;
  line-height: 16px;
  padding: 3px 4px;
}

/* Skins with a different font color */
.t_Content_black,
.t_Content_blackonblack,
.t_Content_dark,
.t_Content_lavender,
.t_Content_liquid {
  color: #fff;
}
.t_Content_cloud { color: #4d4d4d; }
.t_Content_light { color: #454545; }
.t_Content_royalblue { color: #f2f6f9; }
.t_Content_salmon { color: #4f4949; }


/* Styling links for convenience so they are visible */
.t_Content_black a,
.t_Content_blackonblack a,
.t_Content_cloud a,
.t_Content_dark a,
.t_Content_lavender a,
.t_Content_light a,
.t_Content_liquid a,
.t_Content_limegreen a,
.t_Content_royalblue a,
.t_Content_salmon a,
.t_Content_yellow a {
  color: #008aca;
  text-decoration: none;
  background: none;
  border: 0;
}
.t_Content_black a:hover,
.t_Content_blackonblack a:hover,
.t_Content_cloud a:hover,
.t_Content_dark a:hover,
.t_Content_lavender a:hover,
.t_Content_light a:hover,
.t_Content_liquid a:hover,
.t_Content_limegreen a:hover,
.t_Content_royalblue a:hover,
.t_Content_salmon a:hover,
.t_Content_yellow a:hover {
  color: #008aca;
  text-decoration: underline;
  background: none;
  border: 0;
}

/* Links with a different color */
.t_Content_black a,
.t_Content_black a:hover,
.t_Content_blackonblack a,
.t_Content_blackonblack a:hover { color: #57a1d6; }
.t_Content_dark a,
.t_Content_dark a:hover { color: #5daae2; }

.t_Content_cloud a,
.t_Content_cloud a:hover { color: #438ec4; }

.t_Content_lavender a,
.t_Content_lavender a:hover { color: #ceddf2; }

.t_Content_limegreen a,
.t_Content_limegreen a:hover { color: #057ca8; }

.t_Content_liquid a,
.t_Content_liquid a:hover { color: #6591cd; }

.t_Content_royalblue a,
.t_Content_royalblue a:hover { color: #91d2dd; }

.t_Content_salmon a,
.t_Content_salmon a:hover { color: #5e77a2; }
