@import "_basic";

div#content { 
  h2#calendarYear {
    .grid(16,72,2);
    .roundedTop;
    background-color: @blueMedium;
    font-size: 16px;
    text-align: center;
    line-height: 33px;
  }
  ul#calendar {
    .roundedTop;
    background-color: @blueMedium;
    padding: 15px 15px 0px 15px;
    border-bottom: 5px solid @orange;
    li {
      .grid(8,0,1,0.5,0.5);
      .roundedTop;
      a { color: @blueDark; }
      background-color: white;
      text-align: center;
      line-height: 30px;
      font-size: 11px;
    }
    li#active {
      background-color: @orange;
      a { color: white; }
    }
    li#calendarWeek {
      .grid(16);
      background-color: @blueMedium;
      font-size: 12px;
    }
  }
  
  
  div#formWrapper {
    background-color: @blueLight;
    .roundedBottom;
    div#createTimeWrapper {
      .grid(56,2);
      dl dt.time { .grid(4); }
      dl dd.time { .grid(5); }
      dl dd.description textarea {
        height: 60px;
        width: 500px;
      }
      dl dt input.submit {
        margin-left: 335px;
      }
    }
    div#selectWrapper {
      form { padding: 0px; }
      .grid(28);
      dt { .grid(8,0,1); margin-top: 25px; text-align: right; }
      dd { .grid(19); margin-top: 25px; }
      select { width: 200px; }
    }
  }
  
  ul.toolbar, ul.record {
    .rounded;
    height: 30px;
    li { line-height: 30px; }
    li.time { .grid(12,0,0,1) }
    li.duration { .grid(7,0,0,1) }
    li.project { .grid(18) }
    li.customer { .grid(18) }
    li.description { .grid(30) }
    li.actions { .grid(2,0,0,0,1) }
  }
  ul.toolbar {
    background-color: @blueLight;
    margin: 20px 0px;
    
  }
  ul.record {
    height: auto;
    background-color: @blueMedium;
    margin-bottom: 5px;
  }
}