@import "partials/base";

body#customers, body#locations, body#contacts { 
  div.toolbar li,  ul.title li { @include grid(26); }
  ul.title li.actions {
    @include grid(10);
    text-align: right;
  }
}

div.customer {
  color: $darkGrey;
  margin-bottom: 5px;
  
  div#resources {
    @include roundedBottom;
    background-color: white;
    border-left: 1px solid grey;
    border-right: 1px solid grey;;
    border-bottom: 1px solid grey;
    padding: 0px 0px;

    div.location {
      background-color: white;
      @include roundedTop;
      @include roundedBottom;
      border-top:5px solid $darkGrey;
      padding: 8px;
      ul.record li { @include grid(26); }
    }
    div.contacts {
      @include roundedTop;
      padding: 8px;
	    border-top:5px solid $darkGrey;
      ul.record {
        li { @include grid(26); }
        li.fon {
          @include grid(30);
          span { display: block; }
        }
        li.actions { @include grid(6);}
      }
      ul.toolbar {
        color: grey;
        border-bottom: 2px dotted grey;
        margin-bottom: 20px;

      }
      ul.record { margin-bottom: 10px; }
    }
    
    
    h2, span.actions, form legend {
      font-weight: bold;
	  color: $darkRed;
      font-size: 11px;
    }
    h2, form legend { @include grid(78) }
    span.actions, form a {
      @include grid(10);
      text-align: right;
    }
    div.pagination {
      display: inline;
      * { display: none; }
      span.previous_page, a.previous_page, span.next_page, a.next_page { display: inline; }
    }
  }
}