@import "partials/base";

body#customers, body#locations, body#contacts { 
  div.toolbar li,  ul.title li { @include grid(26); }
  ul.title li.actions {
    @include grid(10);
    text-align: right;
  }
}

div#customerForm {
  dl {
    
    dt {
      @include grid(12,0,1);
      text-align: right;
      margin-bottom: 10px;
    }
    dd {
      margin-bottom: 10px;
      @include grid(15);
      input { width: 150px; }
      input.zip { width: 40px; }
      input.city { width: 90px; }
      input.title { width: 82px; }
    }
  }
  input.submit { margin-left: 680px !important}
}

div.customer {
	legend {color: $darkRed;}
  color: $darkGrey;
  margin-bottom: 5px;
  
  div.nestedRessources {
    @include roundedBottom;
    background-color: $yellow;
    padding: 0px 0px;

    div.location {
      @include roundedTop;
      padding: 0px;
      
      .details {
	    @include roundedTop;
		@include roundedBottom;
	    border: 1px solid grey;
	    border-top:5px solid $darkGrey;
	    background-color: white;
        ul li { @include grid(24); }
		h2 {color: $darkRed;}
		padding:8px 0px 7px 10px;
            }
	  fieldset{
	  @include roundedTop;
	  @include roundedBottom;
	  border: 1px solid grey;
	  border-top:5px solid $orangeRed;
	  }
      form {
	  
	  legend {padding:5px 0px 7px 15px; color: $orangeRed;}
	  a {margin-left: -45px; margin-top:5px;}
        padding: 0px !important;
        dl {
          dt {
            @include grid(10);
            margin-bottom: 10px;
            text-align: right;
          }
          dd {
            @include grid(18);
            margin-bottom: 10px;
            input { width: 150px; }
            input.zip { width: 40px; }
            input.city { width: 90px; }
          }
          dt.submit {
            margin-left: 82px;
            input.submit { margin: 0px !important; }
          }
        }
      }
    }
    div.contacts {
	  background-color: white;
      @include roundedTop;
      padding: 8px;
      border: 1px solid grey;
	  border-top:5px solid $darkGrey;
      ul {
        li { @include grid(26); }
        li.name, li.fon {
          @include grid(28);
          span { display: block; }
        }
        li.actions { @include grid(6);  }
      }
      ul.toolbar {
        color: grey;
        border-bottom: 2px dotted grey;
        margin-bottom: 20px;
      }
      ul.record { margin-bottom: 10px; }
      form {
        padding: 0px !important;
        dl {
          dt {
            @include grid(9);
            margin-bottom: 10px;
            text-align: right;
          }
          dd {
            @include grid(20);
            margin-bottom: 10px;
            input { width: 150px; }
            input.title { width: 89px; }
            input.zip { width: 40px; }
            input.city { width: 90px; }
          }
          dt.submit {
            margin-left: 82px;
            input.submit { margin: 0px !important; }
          }
        }
      }
    }
    
    
    div.details h2, div.details span.actions, form legend {
      font-weight: bold;
      font-size: 11px;
    }
    div.details h2, form legend { @include grid(78) }
    div.details span.actions, form a {
      @include grid(10);
      text-align: right;
    }
    div.pagination {
      display: inline;
      * { display: none; }
      span.previous_page, a.previous_page, span.next_page, a.next_page { display: inline; }
    }
  }
}