@import "partials/base";
#content {
  background: url(/images/login-background.png) top center no-repeat;
  height: 590px;
  width: 900px !important;
  .wrapper, .customerWrapper {
    @include rounded;
    background-color: $yellow !important;
    width: 390px;
    min-height: 350px;
    margin: 100px auto 0px auto;
  }
  .customerWrapper {
    margin: 20px auto 0px auto;
    p { margin: 10px; }
  }

  h2 {
    margin: 10px 0px 20px 0px;
    color: grey;
  }
  form {
    background-color: transparent !important;
    dl dt { @include grid(12,0,1); }
    dl dt label { display: block; }
    dl dd { @include grid(20); }
    dl dd, dl dt { margin-bottom: 10px; }
    .current_password { margin-top: 20px; font-size: 12px; }
    legend { font-weight: bold; margin-bottom: 10px;}
  }
  
  ul.links li {
    margin-top: 20px;
    float: left;
    margin-right: 20px;
  }
  
  div.alert{
    background-color: #FF6F6F;
    border: 2px solid darkred;
    clear: both;
    color: white;
    display: block;
    margin: 25px 25px 0px 25px;
    padding: 10px;
    @include rounded;
  }
  div.notice{
    background-color: #B3FFAF;
    border: 2px solid #77FF6F;
    clear: both;
    color: white;
    display: block;
    margin: 25px 25px 0px 25px;
    padding: 10px;
    @include rounded;
  }
}