@import "partials/base";

body#projects, body#expenses, body#invoices, body#status_messages { 
  div.toolbar li, ul.title li { @include grid(29,0,0,1,1); }
  ul.title li.nr { @include grid(6); }
  div.toolbar li.nr{ @include grid(7); }
  div.toolbar li{ @include grid(30.5); }
  ul.title li.date { @include grid(10); }
  div.toolbar li.date{ @include grid(16); }
  ul.title li.actions {
    @include grid(10);
    text-align: right;
    img, a {
      margin-left: 2px;
    }
  }
}


div.project {
  div.details {
    dl dt { font-weight: bold; }
    dl dt, dl dd { @include grid(8); }
    dl dt.description, dl dd.description { @include grid(80, 0, 14); margin-bottom: 10px; }
  }
  div.contacts {
    ul.record li span { display: block; }
    li.actions { text-align: right; }
    ul.toolbar, ul.record {
      li { @include grid(27) }
      li.actions { @include grid(7) }
    }
  }
  div.expenses {
    ul.toolbar, ul.record {
      li.from { @include grid(24) }
      li.description { @include grid(48) }
      li.amount { @include grid(9) }
      li.actions { @include grid(7) }
      li.actions { text-align: right; }
    }
  }
  div.invoices {
    ul.toolbar, ul.record {
      li.from { @include grid(24) }
      li.description { @include grid(48) }
      li.range { @include grid(9) }
      li.actions { @include grid(7) }
      li.actions { text-align: right; }
    }
  }
  div.status_messages {
    ul.toolbar, ul.record {
      li.from { @include grid(24) }
      li.title { @include grid(48) }
      li.attachment { @include grid(9) }
      li.actions { @include grid(7) }
      li.actions { text-align: right; }
    }
  }
}


div.project {
  color: $darkGrey;
  margin-bottom: 5px;
  div#resources {
    @include roundedBottom;
    background-color: white;
    border-left: 1px solid grey;
    border-right: 1px solid grey;;
    border-bottom: 1px solid grey;
    padding: 0px;

    div.title {
      background-color: #F2F1DF;
      @include rounded(6px);
      padding: 4px 10px;
      font-weight: bold;
	    color: $darkRed;
      font-size: 11px;
      &.active {
        padding-bottom: 10px;
        border-top: 5px solid $orange;
        border-bottom: 5px solid $orange;
        margin-bottom: 20px;
      }
      h2 span.actions {
        @include grid(10);
        float: right;
        text-align: right;
      }
    }
    div.details { padding: 10px; }
    ul.toolbar {
      padding-bottom: 2px;
      border-bottom: 2px dotted grey;
      color: grey;
    }
  }
}


body#report  {
  background-color: white;
	div#content { width: 680px; margin: 0px 20px;}
	p.sender{
	  padding: 15px 0px 10px 0px; 
	  font-size: 7pt!important;
	}
	
	adress {
	font-size: 8pt;
	}
	
	h1 {
	margin-top: 15px; 
	font-weight: bold; 
	font-size:14pt;
	}
	h2 { 
	margin-top: 15px; 
	margin-bottom: 15px; 
	font-weight: bold; 
	font-size:8pt; 
	border-bottom: 2px solid $grey;
	}
	
	div#works{
	  table { font-family: "Courier New"; } 
  	ul{ 
  	padding-bottom: 5px;
  	border-bottom: 1px dashed grey;
  		li.time{ padding: 5px 0px; @include grid(10,0,1);	}
  		li.description{
  		  padding: 5px 0px;
  		  @include grid(36,0,1);
  		  h3 { font-weight: bold; }
  		}
  		li.duration, li.sum {
  		  @include grid(10,0,0);
  		  padding: 5px 0px;
  		  text-align: right;
  		}
  	}
  }
  div#expenses{
	  table { font-family: "Courier New"; } 
  	ul{ 
  	padding-bottom: 5px;
  	border-bottom: 1px dashed grey;
  		li.time{ padding: 5px 0px; @include grid(10,0,1);	}
  		li.description{
  		  padding: 5px 0px;
  		  color: $orangeRed;
  		  @include grid(46,0,1);
  		}
  		li.sum {
  		  @include grid(10,0,0);
  		  padding: 5px 0px;
  		  text-align: right;
  		}
  	}
  }
  dl.sum {
	  dd, dt { font-size: 14px; padding: 3px 0px;}
	  dt { @include grid(58); }
	  dt.duration { @include grid(48); }
	  dd {
	    text-align: right;
	    @include grid(10);
	  }
	  .tax, .net, .final { font-weight: bold; }
	  border-bottom: 2px solid black;
	}
	dl.sum.final { border-bottom: none; } 
}