/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "partials/reset";
@import "partials/base";
@import "fancy-buttons";


html { height: 100% ;}
html.js input.hide_nojs{ display: none; }
body {
  min-height: 100%;
  height: 100%;
}
body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}
div#bodyGradient {
  @include gradient(#EFF6FF, #4A6A83);
  min-height: 100%;
  height: 100%;
}
div#navigation {
  div.container { @include container; }
  height: 50px;
  @include gradient(#717d7f, #272c2d);
  margin-bottom: 40px;
  ul {
    padding-top: 9px;
    li {
	    -moz-box-shadow: inset 1px 3px 2px #bfbbbb;
      @include grid(15,0,1);
      @include roundedTop;
      /*@include gradient(#1D88D8, #005DAA);*/
	    border-bottom: 1px solid black;
      a { color: $darkGrey; font-weight: bold;}
      line-height: 40px;
      font-size: 15px;
      text-align: center;
      background-color: $yellow;
	  a:hover {color: $darkRed;}
	  
    }
    li.active {
	  margin-top:0px;
      @include gradient(transparent, transparent);
      background-color: $yellow;
	    border-color: $yellow;
      a { color: $darkRed; font-weight: bold;}
	
    }
    li.small, li.language {
      @include grid(8,0,1);
      font-size: 12px;
      line-height: 18px;
      margin-top: 22px;
	    border: none;
	    margin-right:2px;
	    font-weight: normal;
    }
	 li.small.active { margin-top: 22.5px; }
	 li.language {
	   background: none !important;
     a#language-button {
       -moz-box-shadow: inset 1px 3px 2px #bfbbbb;
       background: none;
       background-color: $yellow;
       font-weight: normal;
       font-size: 13px;
       width: 115px !important;
       height: 18px;
       margin-top: -6px;
     }
     .ui-selectmenu-status {
       line-height: 10px;
       font-family: verdana,arial,helvetica,sans-serif;
       font-size: 12px;
       font-weight: bold;
     }
   }
    li.user {
      @include gradient(transparent, transparent);
      @include grid(15,0,1);
      border: none;
      font-size: 12px;
      line-height: 22px;
      background-color: transparent;
      color: white;
      margin-top: 18px;
	  -moz-box-shadow: none;
    }
  }
}

// ALLGEMEINE CONTENT ELEMENTE //
a.wizardFormSwitch {
  font-weight: bold;
  display: block;
}
div#content {
  @include container;
  @include rounded;
  background-color: white;
  padding: 30px;
  width: 900px;
  div.wizard {
    @include rounded;
    margin-bottom: 20px;
    padding-top: 20px;
    background-color: $darkGrey;
    color: $darkGrey;
  }
  form {
 	@include rounded;
	background-color: $yellow;
  padding-top: 15px;
	padding-left: 5px;
    input.submit {
        @include fancy-button(#FF4E00, 13px);
        width: 200px;
        margin-bottom: 20px;
    }
	
	  }
	form#new_customer{
	padding-left: 15px;}
  
  div.toolbar {
    @include rounded();
    background-color: white;
	color: $darkGrey;
	border: 1px solid grey;
	border-top:5px solid $darkRed;
	/*border-bottom: 1px solid grey;*/
    padding: 0px 10px;
    margin-bottom: 5px;
    height: 30px;
	font-weight: bold;
    li { line-height: 30px; }
  }
    div.content{
	background-color: white;
	padding: 8px;
	}
    ul.title{
    background-color: $yellow;
    padding: 10px;
  }
  ul.title#active {
    background-color: $darkYellow;
	color: $darkGrey;
    @include roundedTop;
    @include roundedBottom(0px);
    font-weight: bold;
  }
  ul.title { @include rounded; }
}

div.filter {
  margin-left: 20px;
  li {
    @include grid(15,0,1);
    @include roundedTop;
	background-color: $yellow;
    line-height: 30px;
    text-align: center;
	a {color: $darkGrey;}
	
  }
 
 li.active { background-color: $darkRed; a {color: white;}}
  
 
}


body { background-color: #4A6A83; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif !important;
  font-size:   11px !important;
  line-height: 18px !important;
  }

a { color: #000; }
a:visited { color: #000; }

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors { display: inline; }
.field_with_errors input {
  border: 1px solid darkred;
  background-color: #FF6F6F;
}

#error_explanation {
  @include rounded;
  border: 2px solid darkred;
  padding: 7px;
  padding-bottom: 0;
  margin-top: 15px;
  margin-bottom: 25px;
  margin-left: 25px;
  margin-right: 25px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  @include roundedTop;
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #FF6F6F;
  color: darkred;
}
#error_explanation ul {
  margin-left: 25px !important;
  margin-top: 10px;
  margin-bottom: 10px;
}
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
  padding: 3px;
}
div#flash div {
  display: inline;
  padding: 10px 10px 0px;
  margin-left: 40px;
}
div#flash div.notice { 
  @include roundedTop;
  border-top: 2px solid #77FF6F;
  border-left: 2px solid #77FF6F;
  border-right: 2px solid #77FF6F;
  background-color: #B3FFAF;
}
div#flash div.alert { 
  @include roundedTop;
  border-top: 2px solid darkred;
  border-left: 2px solid darkred;
  border-right: 2px solid darkred;
  background-color: #FF6F6F;
}
ul#language-menu {
  width: 115px !important;
}