@import "partials/_base";

div#content{
div.filter ul{
  @include roundedTop;
  margin-left:-20px;
  @include roundedBottom;
  background-color: $darkGrey;
  padding-top: 12px;
	  }
  li.active {margin-left:20px; background-color: $orangeRed; a {color:white; font-weight:bold;}}   
}
div#userForm form {
  @include grid(88,0,0,1,1);
  @include rounded;
  background-color: $yellow;
  border: 1px solid grey;
  border-top:5px solid $orangeRed;
  form { background-color: transparent ;}
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  
  h2 {padding: 0px 0px 10px 10px; font-weight:bold;}
  label { margin-bottom: 5px; }
  dl {
    background-color: $yellow;
	padding-left:33px;
    dt {
      @include grid(12,0,1);
      text-align: left;
    }
	
    dd {
      margin-bottom: 15px;
      @include grid(12,0,3);
      input { width: 115px; }
      input.small { width: 50px; }
    }
    dd.role {
      padding-top: 10px;
      margin-right: 570px;
    }
  }
}
div#users {
  div.toolbar ul li, div.user ul li { @include grid(21) }
  div.user {
    margin-bottom: 3px;
    ul li.actions { @include grid(4) }
  }
}



div#holidayForm form {
  @include grid(88,0,0,1,1);
  @include rounded;
  form { background-color: transparent ;}
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  
  h2 { color: $orange; margin-bottom: 10px;}
  label { margin-bottom: 5px; }
  dl {
    background-color: white;
    dt {
      @include grid(13,0,1);
      text-align: left;
      margin-bottom: 10px;
    }
    dt.small { @include grid(8,0,1); text-align: right; }
    dd.small { @include grid(8,0,1); input { width: 70px; } }
    dd {
      margin-bottom: 10px;
      @include grid(13,0,3);
      input { width: 115px; }
      input.small { width: 50px; }
      input.radio { width: 12px; }
    }
  }
}


div#days {
  div.holidays ul.title li, div.toolbar li, div.user ul.title li { @include grid(21); }
  div.user ul.title li.actions, div.holidays ul.title li.actions {
    @include grid(4);
    text-align: right;
  }
  div.holidays ul.title li.actions { @include grid(4,42); }
  
  div.user, div.holidays {
    margin-bottom: 3px;
    div.record {
     /* background-color: $blueLight;*/
      @include roundedBottom;
      padding: 10px;
      dd {
        @include grid(24,0,1);
        padding: 10px 0px;
      }
      dt { font-weight: bold; }
    }
  }
}