@import "partials/base";
div#content {
  div#top_form ul li.templates { margin: 70px 0px 0px 23px; }
  div#calendar {
    h2#calendarYear {
      @include grid(18,70,2);
      @include roundedTop;
      background-color: $darkGrey;
	    color: white;
      font-size: 16px;
      text-align: center;
      line-height: 33px;
    }
    ul#calendarWeek {
      @include roundedTop;
	    color: white;
      background-color: $darkGrey;
      padding: 15px 15px 0px 15px;
      li {
        @include grid(8,0,1,0.5,0.5);
        @include roundedTop;
        a { color: $darkGrey;}
        background-color: $yellow;
        text-align: center;
        line-height: 30px;
        font-size: 10px;
        font-weight: bold;
        margin-left:-3px;
      }
	  li.wday6{background-color: $yellow; a { color: grey; }}
	  li.wday0{background-color: $yellow; a { color: grey; }}
      li#active {
        background-color: $orangeRed;
        a { color: white; }
      }
      li#calendarNavigation {
	      span {font-weight:lighter;}
        @include grid(19);
        background-color: $darkGrey;
        font-size: 12px;
		    font-weight: bold;
		    input.datepicker { visibility: hidden; width: 0px; }
		  }
    }
  }
  div.toolbar {
    padding: 0px; 
    margin-top: 20px;
  }
  div.toolbar ul, ul.record {
    @include rounded;
    height: 30px;
    li { line-height: 30px; }
    li.time { @include grid(12,0,0,1)}
    li.duration { @include grid(8,0,0,1)}
    li.project { @include grid(15,0,0,2,1)}
    li.customer { @include grid(17,0,0,1)}
    li.description { @include grid(26,0,2,2) }
    li.actions { @include grid(3,-2,0,0,1)}
  }
  ul.record {
    li.duration {background-color: $darkYellow;}
    li.customer {background-color: $darkYellow;}
  
  }
  ul.toolbar {
    color: white;
    background-color: $darkRed;
    margin: 20px 0px;
	font-weight: bold;
	
    
  }
  ul.record {
    height: auto;
    background-color: $yellow;
    margin-bottom: 5px;
  	li.actions img {
  	  margin-top: 10px;
  	  margin-left: 10px;
  	}
  	li.description h3 {
  	  font-weight: bold;
  	}
  }
}