!!!
%html
  %head
    %meta{:charset => "UTF-8"}/
    %title Nancy
    %link{:rel => "stylesheet", :href => "http://code.jquery.com/mobile/1.0a2/jquery.mobile-1.0a2.min.css"}
    %script{:src => "http://code.jquery.com/jquery-1.4.4.min.js"}  
    %script{:src => "http://code.jquery.com/mobile/1.0a2/jquery.mobile-1.0a2.min.js"}
    = csrf_meta_tag
  %body
    %div{"data-role" => "page"}
      = yield
      %div{"data-role" => "footer"}
        %div{"data-role" => "navbar"}
          %ul
            %li
              %a{"data-icon" => "refresh", :href => works_path} Works
            %li
              %a{"data-icon" => "grid", :href => customers_path} Customers
            %li
              %a.ui-btn-active{"data-icon" => "gear", :href => projects_path} Projects