!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", "xml:lang" => "en", :class => "no-js"}
  %head
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
    %title Nancy / #{controller.controller_name}
    = csrf_meta_tag
  %body{:id => "#{controller.controller_name}"}
    = yield