%p Hallo #{@resource.firstname},
%p vielen Dank für dein Interesse an Nancy. Damit du sofort loslegen kannst, erhälst du auch sofort Adresse und Zugangsdaten für den von dir angeforderten Nancy-Testaccount...
%p
  Web-Adresse: #{link_to 'Link', root_path}
  %br/
  Benutzer: #{@resource.email}
  %br/
  Passwort: [Ihr gewähltes Passwort]
%p wir wünschen dir nun viel Spass beim Testen von Nancy und freuen uns natürlich über dein Feedback.
%p Mit besten Grüßen, dein Nancy-Team
%p
  --
  %br/
  Tel.: 0911/780784-32
  %br/
  Fax: 0911/780784-99
  %br/
  gw@wildner-designer.de
  %br/
  www.wildner-designer.de
  %br/
  %br/
  Wildner + Designer GmbH
  %br/
  Hans-Vogel-Straße 42 - 90765 Fürth
  %br/
  Registergericht: Amtsgericht Fürth, HRB 11981
  %br/
  Geschäftsführer: Stefan Wildner